input {
    width: 100% !important;
}
.save-change > .vs-button__content {
    font-size: 20px;
}
.search .vs-input {
    background-color: white;
    border-radius: 9999px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00fc26;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ED4D27;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 95, 4);
}

.carousel .slick-dots {
    bottom: 20px
}
.slick-dots li button::before {
    content: "";
    background-color: #00fc26;
    height: 10px;
    width: 10px;
    color: transparent;
    border-radius: 50%;
}
.vs-sidebar-content.absolute {
    top: 100px;
    z-index: 0;
    height: 350px;
    transform: translate(-400%)
}
.vs-sidebar-content.open.absolute {
    transform: translate(0%)
}
.vs-navbar-content {
    z-index: 0;
}